:root {
    --bg-img: url("https://i.ibb.co/0BncBLf/background.jpg");
    --main-body-color: rgba(255, 255, 255, 0.5);
    --title-font: 'Mansalva', sans-serif;
    --title-color: #FFFFFF;
    --title-size: 3.2rem;
    --general-font: 'Roboto', sans-serif;
    --general-font-color: ##000814;
    --input-font-color: #FFFFFF;
    --input-bg: #404040;
    --sep-line-white: 0.1rem solid rgba(255, 255, 255, 0.5);
    --button-color: #0056A5;
    --disabled-button-color: #bcbcbc;
    --shadow: rgba(0,0,0,0.5);
    --shadow-light: rgba(0,0,0,0.3);
    --shadow-white: rgba(255,255,255,0.5);
    --profile-bg-color: #6A85B0;
    --add-button-color: #00FF0A;
    --delete-button-color: #F00;
}



/*  General   */

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: var(--bg-img);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

a:visited {
    color: var(--button-color);
}

button {
    cursor: pointer;
}



/*  Display   */

.inactive {
    display: none!important;
}

.container {
    display: flex;
}

.c-vert {
    flex-direction: column;
}

.c-center {
    align-items: center;
}

.c-center-all {
    align-items: center;
    justify-content: center;
}

.c-center-se {
    align-items: center;
    justify-content: space-evenly;
}

.c-center-sb {
    align-items: center;
    justify-content: space-between;
}

.c-start-sb {
    justify-content: space-between;
}



/*  Separators  */

.line-80 {
    border-bottom: var(--sep-line-white);
    width: 80%;
}

.line-90 {
    border-bottom: var(--sep-line-white);
    width: 90%;
}